<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="cairn" type="Cairn.CairnSectionHandler, Cairn" />
	</configSections>

	<cairn>
		<!---->
		<include uri="file://configuration/behaviours.config" />
	</cairn>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
