<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<parameters>
		<parameter name="program" type="Cairn.Harness.Program, Cairn.Harness" parameterType="Context" />	
		<parameter name="data" type="System.String[]" parameterType="Context" />
		<parameter name="extraData" type="System.String" parameterType="Value" value="This is the value" />
		<parameter name="processedData" type="System.String[]" parameterType="Context" />
		<parameter name="dummyDataComponent" type="Cairn.Harness.Component.DummyDataComponent, Cairn.Harness" parameterType="Component" lifestyle="Transient">
			<dataSet type="System.String" value="Films" />
		</parameter>
	</parameters>

	<behaviours>
		<behaviour name="GetData">
			<respondsTo>
				<message>get-data</message>
			</respondsTo>
			<processes>
				<message>transform-data</message>
			</processes>
			<parameters>
				<parameter name="dummyDataComponent" />
			</parameters>
			<functions>
				<function type="Cairn.Harness.Behaviour.Functions.GetData, Cairn.Harness">
					<inputs>
						<parameterIndex>0</parameterIndex>
					</inputs>
					<output returnAsResult="False">data</output>
				</function>
			</functions>
		</behaviour>

		<behaviour name="ProcessData">
			<respondsTo>
				<message>transform-data</message>
			</respondsTo>
			<processes>
				<message>print-data</message>
			</processes>
			<parameters>
				<parameter name="data" />
				<parameter name="extraData" />
			</parameters>
			<functions>
				<function type="Cairn.Harness.Behaviour.Functions.TransformData, Cairn.Harness">
					<inputs>
						<parameterIndex>0</parameterIndex>
						<parameterIndex>1</parameterIndex>
					</inputs>
					<output returnAsResult="True">processedData</output>
				</function>
			</functions>
		</behaviour>		
		
		<behaviour name="PrintData">
			<respondsTo>
				<message>print-data</message>
			</respondsTo>
			<parameters>
				<parameter name="program" />
				<parameter name="processedData" />
			</parameters>
			<actions>
				<action type="Cairn.Harness.Behaviour.Actions.PrintData, Cairn.Harness">
					<inputs>
						<parameterIndex>0</parameterIndex>
						<parameterIndex>1</parameterIndex>
					</inputs>
				</action>
			</actions>
		</behaviour>
	</behaviours>
</configuration>